#indicator {
  font-size: 60px;
}
.container h1{
  text-align: center;
}

.dice-roll{
  background-color: rgba(240, 128, 128, 0.253);
}
#roll{
border-radius: 100px;

}
#pDice {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  color:black;
  padding: 5px;
}

.container{
  text-align: center;
}
.startForm {
  display: flex;
  margin-left: 60vh;
  margin-right: 40vh;
  margin-top: 50vh;
  margin-bottom: 40vh;
  background-color: lightcoral;
  text-align: center;
  
}
#playButtonDiv{
  margin-left: 30vh;
  margin-right: 20px;
}

.hidden {
  display: none;
}